<!doctype html>
<html>

<head>
    <title>Omdb Search</title>
</head>


<body ng-app="app1" ng-controller="ctrl1">


    <div class="searchBar">
        <div class="container-fluid">
            <div class="radios col-md-offset-4">
                <label class="col-md-2"><input type="radio" value="movie" ng-model="movieType"> Movie</label>
                <label class="col-md-2"><input type="radio" value="series" ng-model="movieType"> Series</label>
                <label class="col-md-2"><input type="radio" value="episode" ng-model="movieType"> Episode</label>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <input type="text" placeholder="Title search..." class=" form-control" ng-model="title" autofocus>
                    <br>
                    <input type="button" class="btn btn-primary btn-lg center-block animate-if" value="Search!" ng-click="onClick()" ng-if="title">
                </div>
            </div>
        </div>
    </div>

    <div class="results">
        <div class="container-fluid">
            <div class="col-md-2" ng-repeat="movie in movies | orderBy : '-Year' " ng-if="movies != 0">
                <img class="img img-responsive" src="{{movie.Poster}}" imageOnLoad>
                <p class="center-block">Title:{{movie.Title}}</p>
                <p class="center-block">Year:{{movie.Year}}</p>
                <p class="center-block">IMDB ID:{{movie.imdbID}}</p>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/dataget.js"></script>
    
</body>

</html>
